<div class="center">
    <h2>名簿管理システム</h2>
    <p>スタンダードな名簿管理システムです</p>
    <%= link_to "アカウント登録", "/users/sign_up", class:"btn btn-primary" %>
    <%= link_to "ログイン", "/users/sign_in", class:"btn btn-default" %>
</div>