// Place all the styles related to the rosters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
    text-align:center;
}

.table tr th,td {
   text-align:center;
}